# IT Academy - Data Science amb Python
## Tasca 5: Exploració de les dades

###  [Github Exploració de les dades](https://github.com/jesussantana/estructures_Dataframe)

###  Exercici 1
- Descarrega el data set Airlines Delay: [Airline on-time statistics and delay causes](https://www.kaggle.com/giovamata/airlinedelaycauses) i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [1]:
import numpy as np
import pandas as pd
import datetime

delayedFlightsRaw = pd.read_csv('DelayedFlights.csv')
#carriersRaw = pd.read_csv('carriers.csv')
#airportsRaw = pd.read_csv('airports.csv')

In [2]:
delayedFlightsRaw.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [3]:
pd.set_option('display.max_columns', None)

delayedFlightsRaw.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [4]:
print(delayedFlightsRaw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB
None

In [5]:
# Relevant columns

delayedFlightsRelevant = delayedFlightsRaw[['Year','Month','DayofMonth','DepTime','CRSDepTime','ArrTime','CRSArrTime','UniqueCarrier','FlightNum','TailNum','AirTime','ArrDelay','Distance','Cancelled','CancellationCode']].copy()

In [6]:
delayedFlightsRelevant.head()

,Year,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,ArrDelay,Distance,Cancelled,CancellationCode
0,2008,1,3,2003.0,1955,2211.0,2225,WN,335,N712SW,116.0,-14.0,810,0,N
1,2008,1,3,754.0,735,1002.0,1000,WN,3231,N772SW,113.0,2.0,810,0,N
2,2008,1,3,628.0,620,804.0,750,WN,448,N428WN,76.0,14.0,515,0,N
3,2008,1,3,1829.0,1755,1959.0,1925,WN,3920,N464WN,77.0,34.0,515,0,N
4,2008,1,3,1940.0,1915,2121.0,2110,WN,378,N726SW,87.0,11.0,688,0,N

###  Exercici 2
- Fes un informe complet del data set:
  - Resumeix estadísticament les columnes d’interès

In [7]:
delayedFlightsRelevant.describe().round(1)

,Year,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,AirTime,ArrDelay,Distance,Cancelled
count,1936758.0,1936758.0,1936758.0,1936758.0,1936758.0,1929648.0,1936758.0,1936758.0,1928371.0,1928371.0,1936758.0,1936758.0
mean,2008.0,6.1,15.8,1518.5,1467.5,1610.1,1634.2,2184.3,108.3,42.2,765.7,0.0
std,0.0,3.5,8.8,450.5,424.8,548.2,464.6,1944.7,68.6,56.8,574.5,0.0
min,2008.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,-109.0,11.0,0.0
25%,2008.0,3.0,8.0,1203.0,1135.0,1316.0,1325.0,610.0,58.0,9.0,338.0,0.0
50%,2008.0,6.0,16.0,1545.0,1510.0,1715.0,1705.0,1543.0,90.0,24.0,606.0,0.0
75%,2008.0,9.0,23.0,1900.0,1815.0,2030.0,2014.0,3422.0,137.0,56.0,998.0,0.0
max,2008.0,12.0,31.0,2400.0,2359.0,2400.0,2400.0,9742.0,1091.0,2461.0,4962.0,1.0

  - Troba quantes dades faltants hi ha per columna

In [8]:
(delayedFlightsRelevant.isnull().sum() / len(delayedFlightsRelevant)).round(3)

Year                0.000
Month               0.000
DayofMonth          0.000
DepTime             0.000
CRSDepTime          0.000
ArrTime             0.004
CRSArrTime          0.000
UniqueCarrier       0.000
FlightNum           0.000
TailNum             0.000
AirTime             0.004
ArrDelay            0.004
Distance            0.000
Cancelled           0.000
CancellationCode    0.000
dtype: float64

  - Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)

In [9]:
milesmtokmh = 60 / 0.62137

# Departure & Arrival.

delayedFlightsRelevant['DoubleDelay'] = np.where((delayedFlightsRelevant['ArrDelay'] > 0) & (delayedFlightsRelevant['DepTime'] > 0), "yes", "no")

# Delayed

delayedFlightsRelevant['Delayed'] = np.where(delayedFlightsRelevant['ArrDelay'] > 0, "yes", "no")


# New row 'Date'

delayedFlightsRelevant.rename(columns = {'DayofMonth':'Day'}, inplace = True)

delayedFlightsRelevant['Date'] = pd.to_datetime(delayedFlightsRelevant[['Year', 'Month', 'Day']])

delayedFlightsRelevant

,Year,Month,Day,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,ArrDelay,Distance,Cancelled,CancellationCode,DoubleDelay,Delayed,Date
0,2008,1,3,2003.0,1955,2211.0,2225,WN,335,N712SW,116.0,-14.0,810,0,N,no,no,2008-01-03
1,2008,1,3,754.0,735,1002.0,1000,WN,3231,N772SW,113.0,2.0,810,0,N,yes,yes,2008-01-03
2,2008,1,3,628.0,620,804.0,750,WN,448,N428WN,76.0,14.0,515,0,N,yes,yes,2008-01-03
3,2008,1,3,1829.0,1755,1959.0,1925,WN,3920,N464WN,77.0,34.0,515,0,N,yes,yes,2008-01-03
4,2008,1,3,1940.0,1915,2121.0,2110,WN,378,N726SW,87.0,11.0,688,0,N,yes,yes,2008-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,2008,12,13,1250.0,1220,1617.0,1552,DL,1621,N938DL,120.0,25.0,906,0,N,yes,yes,2008-12-13
1936754,2008,12,13,657.0,600,904.0,749,DL,1631,N3743H,78.0,75.0,481,0,N,yes,yes,2008-12-13
1936755,2008,12,13,1007.0,847,1149.0,1010,DL,1631,N909DA,122.0,99.0,689,0,N,yes,yes,2008-12-13
1936756,2008,12,13,1251.0,1240,1446.0,1437,DL,1639,N646DL,89.0,9.0,533,0,N,yes,yes,2008-12-13
1936757,2008,12,13,1110.0,1103,1413.0,1418,DL,1641,N908DL,104.0,-5.0,874,0,N,no,no,2008-12-13

- Taula de les aerolínies amb més endarreriments acumulats

In [10]:
delayedFlightsMore = delayedFlightsRelevant.copy()

delayedFlightsMore = delayedFlightsMore.groupby('ArrDelay').first().reset_index()

moreDelayed = delayedFlightsMore.iloc[::-1]
moreDelayed

,ArrDelay,Year,Month,Day,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,Distance,Cancelled,CancellationCode,DoubleDelay,Delayed,Date
1127,2461.0,2008,2,3,1117.0,1820,2256.0,555,NW,808,N817NW,437.0,3972,0,N,yes,yes,2008-02-03
1126,2453.0,2008,4,10,724.0,1417,858.0,1605,NW,1699,N3324L,132.0,930,0,N,yes,yes,2008-04-10
1125,1951.0,2008,5,6,2.0,1530,254.0,1823,NW,1107,N333NW,145.0,1085,0,N,yes,yes,2008-05-06
1124,1707.0,2008,6,20,2140.0,1710,2252.0,1825,MQ,3538,N512AE,50.0,304,0,N,yes,yes,2008-06-20
1123,1655.0,2008,12,19,1602.0,1325,1921.0,1546,NW,357,N366NW,192.0,1124,0,N,yes,yes,2008-12-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,-67.0,2008,1,17,1930.0,1915,2252.0,2359,F9,426,N922FR,66.0,1199,0,N,no,no,2008-01-17
3,-68.0,2008,2,13,907.0,900,1202.0,1310,AQ,485,N740AL,284.0,2530,0,N,no,no,2008-02-13
2,-69.0,2008,3,10,1218.0,1208,1317.0,1426,FL,531,N268AT,220.0,1587,0,N,no,no,2008-03-10
1,-70.0,2008,9,17,1804.0,1756,2015.0,2125,UA,839,N554UA,293.0,2475,0,N,no,no,2008-09-17
0,-109.0,2008,7,31,1449.0,1430,1331.0,1520,WN,987,N396SW,29.0,1164,0,N,no,no,2008-07-31

In [11]:
moreDelayed[['FlightNum']]

      FlightNum
1127        808
1126       1699
1125       1107
1124       3538
1123        357
...         ...
4           426
3           485
2           531
1           839
0           987

[1128 rows x 1 columns]

In [12]:
delayedFlightsRaw.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

- Quins són els vols més llargs? I els més endarrerits?
- Etc.

In [13]:
delayedFlightsLong = delayedFlightsRelevant.copy()
delayedFlightsLong.sort_values(by ='Distance', ascending=False)

,Year,Month,Day,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,ArrDelay,Distance,Cancelled,CancellationCode,DoubleDelay,Delayed,Date
1255581,2008,7,18,2001.0,1955,1126.0,1130,CO,14,N67058,543.0,-4.0,4962,0,N,no,no,2008-07-18
1926346,2008,12,20,2333.0,2055,1348.0,1120,CO,14,N66056,528.0,148.0,4962,0,N,yes,yes,2008-12-20
718062,2008,4,25,1345.0,1335,1826.0,1810,CO,15,N69059,620.0,16.0,4962,0,N,yes,yes,2008-04-25
1928077,2008,12,16,2135.0,2055,1148.0,1120,CO,14,N76054,523.0,28.0,4962,0,N,yes,yes,2008-12-16
173695,2008,1,13,1326.0,1320,1912.0,1920,CO,15,N67058,621.0,-8.0,4962,0,N,no,no,2008-01-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456273,2008,9,22,1340.0,1325,1553.0,1425,OH,6898,N710CA,27.0,88.0,30,0,N,yes,yes,2008-09-22
47146,2008,1,2,1245.0,1025,1340.0,1125,OH,5610,N806CA,11.0,135.0,24,0,N,yes,yes,2008-01-02
521905,2008,3,12,955.0,931,1021.0,948,9E,2009,91619E,10.0,33.0,24,0,N,yes,yes,2008-03-12
774654,2008,5,15,2037.0,1800,2125.0,1900,OH,4988,N806CA,31.0,145.0,11,0,N,yes,yes,2008-05-15
1310766,2008,8,10,1315.0,1220,1415.0,1320,OH,5572,N819CA,14.0,55.0,11,0,N,yes,yes,2008-08-10

In [14]:
longerFlights = delayedFlightsLong.sort_values(by = 'Distance', ascending = False)
longerFlights[['FlightNum', 'Distance']]

         FlightNum  Distance
1255581         14      4962
1926346         14      4962
718062          15      4962
1928077         14      4962
173695          15      4962
...            ...       ...
1456273       6898        30
47146         5610        24
521905        2009        24
774654        4988        11
1310766       5572        11

[1936758 rows x 2 columns]

###  Exercici 3
- Exporta el data set net i amb les noves columnes a Excel.

In [ ]:
# to_excel

import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows

f_path = "DelayedFlights.xlsx"


wb = openpyxl.Workbook(write_only = True)
ws = wb.create_sheet("Sheet")


rows = openpyxl.utils.dataframe.dataframe_to_rows(delayedFlightsRelevant)

for i,row in enumerate(rows):
    ws.append(row)


wb.save(f_path)

In [ ]:
#to_csv

compression_opts = dict(method='zip', archive_name='out.csv')  
delayedFlightsRelevant.to_csv('out.zip', index=False, compression=compression_opts)