# IT Academy - Data Science amb Python
## Tasca 5: Exploració de les dades

###  [Github Exploració de les dades](https://github.com/jesussantana/estructures_Dataframe)

###  Exercici 1
- Descarrega el data set Airlines Delay: [Airline on-time statistics and delay causes](https://www.kaggle.com/giovamata/airlinedelaycauses) i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [1]:
import numpy as np
import pandas as pd
import datetime

dataAirlines = pd.read_csv('DelayedFlights.csv')
dataAirlines

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [2]:
dataAirlines.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [3]:
pd.set_option('display.max_columns', None)

dataAirlines.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [4]:
print(dataAirlines.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB
None

In [5]:
# Columnas relevantes

dataAirlines=dataAirlines[['Year','Month','DayofMonth','DepTime','CRSDepTime','ArrTime','CRSArrTime','UniqueCarrier','FlightNum','TailNum','AirTime','ArrDelay','Distance','Cancelled','CancellationCode']].copy()

In [6]:
dataAirlines.head()

,Year,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,ArrDelay,Distance,Cancelled,CancellationCode
0,2008,1,3,2003.0,1955,2211.0,2225,WN,335,N712SW,116.0,-14.0,810,0,N
1,2008,1,3,754.0,735,1002.0,1000,WN,3231,N772SW,113.0,2.0,810,0,N
2,2008,1,3,628.0,620,804.0,750,WN,448,N428WN,76.0,14.0,515,0,N
3,2008,1,3,1829.0,1755,1959.0,1925,WN,3920,N464WN,77.0,34.0,515,0,N
4,2008,1,3,1940.0,1915,2121.0,2110,WN,378,N726SW,87.0,11.0,688,0,N

In [ ]:
dataAirlines['DayofMonthT'] = dataAirlines['DayofMonth'].apply(lambda x: x.zfill(2))
dataAirlines['MonthT'] = dataAirlines['Month'].apply(lambda x: x.zfill(2))
dataAirlines['fechacompl'] = pd.to_datetime(dataAirlines['Year'] + dataAirlines['Month'] + dataAirlines['DayofMonth'],format = '%Y%m%d' )

###  Exercici 2
- Fes un informe complet del data set:
  - Resumeix estadísticament les columnes d’interès

In [7]:
dataAirlines.describe().round(3)

,Year,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,AirTime,ArrDelay,Distance,Cancelled
count,1936758.0,1936758.000,1936758.000,1936758.000,1936758.000,1929648.000,1936758.000,1936758.000,1928371.000,1928371.000,1936758.000,1936758.000
mean,2008.0,6.111,15.753,1518.534,1467.473,1610.141,1634.225,2184.263,108.277,42.200,765.686,0.000
std,0.0,3.483,8.776,450.485,424.767,548.178,464.635,1944.702,68.643,56.785,574.480,0.018
min,2008.0,1.000,1.000,1.000,0.000,1.000,0.000,1.000,0.000,-109.000,11.000,0.000
25%,2008.0,3.000,8.000,1203.000,1135.000,1316.000,1325.000,610.000,58.000,9.000,338.000,0.000
50%,2008.0,6.000,16.000,1545.000,1510.000,1715.000,1705.000,1543.000,90.000,24.000,606.000,0.000
75%,2008.0,9.000,23.000,1900.000,1815.000,2030.000,2014.000,3422.000,137.000,56.000,998.000,0.000
max,2008.0,12.000,31.000,2400.000,2359.000,2400.000,2400.000,9742.000,1091.000,2461.000,4962.000,1.000

  - Troba quantes dades faltants hi ha per columna

In [8]:
dataAirlines.isna().sum()

Year                   0
Month                  0
DayofMonth             0
DepTime                0
CRSDepTime             0
ArrTime             7110
CRSArrTime             0
UniqueCarrier          0
FlightNum              0
TailNum                5
AirTime             8387
ArrDelay            8387
Distance               0
Cancelled              0
CancellationCode       0
dtype: int64

  - Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)

In [ ]:
milesmtokmh = 60 / 0.62137

dataAirlines['AirTime'] = dataAirlines[dataAirlines['AirTime'].notnull()]['AirTime'].apply(lambda s: int(s[:s.find(".")]))

dataAirlines['AverageSpeed'] = dataAirlines['Distance'] * milesmtokmh / (dataAirlines['AirTime'])

dataAirlines['AverageSpeed'].head()

- Taula de les aerolínies amb més endarreriments acumulats

- Quins són els vols més llargs? I els més endarrerits?
- Etc.

In [9]:
dataAirlinesLong = dataAirlines.copy()
dataAirlinesLong.sort_values(by ='Distance', ascending=False)

,Year,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,ArrDelay,Distance,Cancelled,CancellationCode
1255581,2008,7,18,2001.0,1955,1126.0,1130,CO,14,N67058,543.0,-4.0,4962,0,N
1926346,2008,12,20,2333.0,2055,1348.0,1120,CO,14,N66056,528.0,148.0,4962,0,N
718062,2008,4,25,1345.0,1335,1826.0,1810,CO,15,N69059,620.0,16.0,4962,0,N
1928077,2008,12,16,2135.0,2055,1148.0,1120,CO,14,N76054,523.0,28.0,4962,0,N
173695,2008,1,13,1326.0,1320,1912.0,1920,CO,15,N67058,621.0,-8.0,4962,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456273,2008,9,22,1340.0,1325,1553.0,1425,OH,6898,N710CA,27.0,88.0,30,0,N
47146,2008,1,2,1245.0,1025,1340.0,1125,OH,5610,N806CA,11.0,135.0,24,0,N
521905,2008,3,12,955.0,931,1021.0,948,9E,2009,91619E,10.0,33.0,24,0,N
774654,2008,5,15,2037.0,1800,2125.0,1900,OH,4988,N806CA,31.0,145.0,11,0,N
1310766,2008,8,10,1315.0,1220,1415.0,1320,OH,5572,N819CA,14.0,55.0,11,0,N

In [10]:
longerFlights = dataAirlinesLong.sort_values(by ='Distance', ascending = False)
longerFlights[['FlightNum','TailNum','Distance']]

         FlightNum TailNum  Distance
1255581         14  N67058      4962
1926346         14  N66056      4962
718062          15  N69059      4962
1928077         14  N76054      4962
173695          15  N67058      4962
...            ...     ...       ...
1456273       6898  N710CA        30
47146         5610  N806CA        24
521905        2009  91619E        24
774654        4988  N806CA        11
1310766       5572  N819CA        11

[1936758 rows x 3 columns]

###  Exercici 3
- Exporta el data set net i amb les noves columnes a Excel.

In [11]:
# to_excel

dataAirlines.describe().round(3).to_excel('output1.xlsx', engine='xlsxwriter')

In [12]:
#to_csv

compression_opts = dict(method='zip', archive_name='out.csv')  
dataAirlines.describe().round(3).to_csv('out.zip', index=False, compression=compression_opts)