# IT Academy - Data Science amb Python
## Tasca 5: Exploració de les dades

###  [Github Exploració de les dades](https://github.com/jesussantana/estructures_Dataframe)

###  Exercici 1
- Descarrega el data set Airlines Delay: [Airline on-time statistics and delay causes](https://www.kaggle.com/giovamata/airlinedelaycauses) i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [1]:
import numpy as np
from numpy import random
import pandas as pd
from datetime import datetime

In [2]:
file = pd.read_csv("DelayedFlights.csv", sep=",", encoding='utf8')
file[:3]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [3]:
file.shape

(1936758, 30)

In [4]:
file.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [5]:
type(file)

pandas.core.frame.DataFrame

In [6]:
file.drop(["TaxiIn","TaxiOut", "Cancelled",'CancellationCode', 'Diverted'], axis=1, inplace=True)

In [7]:
file.shape

(1936758, 25)

In [8]:
file.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [9]:
file[:3]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,ArrDelay,DepDelay,Origin,Dest,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,-14.0,8.0,IAD,TPA,810,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,2.0,19.0,IAD,TPA,810,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,14.0,8.0,IND,BWI,515,NaN,NaN,NaN,NaN,NaN

In [10]:
file.describe().round(3)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,...,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1936758.000,1936758.0,1936758.000,1936758.000,1936758.000,1936758.000,1936758.000,1929648.000,1936758.000,1936758.000,...,1936560.000,1928371.000,1928371.000,1936758.000,1936758.000,1247488.000,1247488.000,1247488.000,1247488.000,1247488.000
mean,3341651.151,2008.0,6.111,15.753,3.985,1518.534,1467.473,1610.141,1634.225,2184.263,...,134.303,108.277,42.200,43.185,765.686,19.179,3.704,15.022,0.090,25.296
std,2066064.958,0.0,3.483,8.776,1.996,450.485,424.767,548.178,464.635,1944.702,...,71.341,68.643,56.785,53.403,574.480,43.546,21.493,33.833,2.023,42.055
min,0.000,2008.0,1.000,1.000,1.000,1.000,0.000,1.000,0.000,1.000,...,-25.000,0.000,-109.000,6.000,11.000,0.000,0.000,0.000,0.000,0.000
25%,1517452.500,2008.0,3.000,8.000,2.000,1203.000,1135.000,1316.000,1325.000,610.000,...,82.000,58.000,9.000,12.000,338.000,0.000,0.000,0.000,0.000,0.000
50%,3242558.000,2008.0,6.000,16.000,4.000,1545.000,1510.000,1715.000,1705.000,1543.000,...,116.000,90.000,24.000,24.000,606.000,2.000,0.000,2.000,0.000,8.000
75%,4972466.750,2008.0,9.000,23.000,6.000,1900.000,1815.000,2030.000,2014.000,3422.000,...,165.000,137.000,56.000,53.000,998.000,21.000,0.000,15.000,0.000,33.000
max,7009727.000,2008.0,12.000,31.000,7.000,2400.000,2359.000,2400.000,2400.000,9742.000,...,660.000,1091.000,2461.000,2467.000,4962.000,2436.000,1352.000,1357.000,392.000,1316.000

###  Exercici 2
- Fes un informe complet del data set:
  - Resumeix estadísticament les columnes d’interès
  - Troba quantes dades faltants hi ha per columna
  - Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
  - Taula de les aerolínies amb més endarreriments acumulats
  - Quins són els vols més llargs? I els més endarrerits?
  - Etc.

###  Exercici 3
- Exporta el data set net i amb les noves columnes a Excel.